// $dark-shade: #161419;
// $dark-accent: #272822;
// $primary: #84818E;
// $light-accent: #716371;
// $light-shade: #F5F2F1;


$dark-shade:#312A3C;
$dark-accent: #272822;
$primary: #8C8B84;
$light-accent: #757069;
$light-shade: #E5E6DE;